@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
h1 
{
   text-align: center;
   margin-right: 2%;
   width: 60%;
   height: 4vh;
   font-size:2rem;
   font-family: 'Roboto', sans-serif;
}
h2
{ font-family: 'Roboto', sans-serif;
    font-size:2rem;

}

.wrap
{
     min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
    
   
}
.wrapper
{
    
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background:#7DCBFA ;
   
}
#Ergebins {
    font-size: 20px;
    
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background:  #BEE5FD;
  border-bottom: 1px solid white;
   
}

#Ergebins p
{
    margin-left: 2%;
}
#btnAdd
{
   
  
  
 
   background: #2569F6;
   display: inline;
   text-align: center;
  margin-bottom: 5%;
  margin-top: 4%;
  border: none;
  color: #FBEFFB;
  padding: 1% 2%;
  border-radius: 5px;
}
#btnAdd:hover
{
    background:gray;
    color: black;
}


#btnDel
{/*  margin-left: 65%; */
    
    border-radius: 18px;
    width: 35px;
    height: 3vh;
    color: #FBEFFB;
    background:#2569F6 ;
    border: none;
    margin-right: 2%;


}
#btnDel:hover
{
    background:gray;
    color: black;
}

[ type="text"]{
   width: 300px;
    height: 3vh;
    
}
body{
    background: white;
}

/* 



  */